## File-based project format:
*.iws
*.bak
*.swp

# Maven
target/

## Plugin-specific files:

# IntelliJ
/out/
.idea_modules
.idea
*.iml

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Eclipse
.settings
.project
.classpath