<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2017. 4. 12." th:remove="all"/>
  <meta name="project" content="com" th:remove="all"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <title>Example Sidebar Fraction - EDIT MODE</title>
</head>
<body>
<div class="fraction" th:fragment="display(fraction)">
  <section>
    <h3>SIDEBAR #1</h3>
    <form action="edit.html" method="post"
          th:action="@{/pages/__${site.id}__/__${page.id}__/__${fraction.name}__}" th:method="patch">
      <fieldset>
        <div class="form-group">
          <label for="fraction-sidebar-name" th:text="#{fraction.form.name.label}">name</label>
          <input id="fraction-sidebar-name" class="form-control" readonly="readonly" value="name"
                 th:id="${#strings.concat('fraction-', fraction.name, '-name')}" th:value="${fraction.name}" />
        </div>
        <div class="form-group">
          <label for="fraction-sidebar-description" th:text="#{fraction.form.description.label}">description</label>
          <textarea id="fraction-sidebar-description" class="form-control" name="description" value="input fraction description"
                    th:text="${fraction.description}"></textarea>
        </div>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary" th:text="#{fraction.form.save.label}">save</button>
        <button type="reset" class="btn btn-warning" th:text="#{fraction.form.reset.label}">reset</button>
      </div>
    </form>
  </section>
</div>
</body>
</html>
