<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2017. 4. 7." th:remove="all"/>
  <meta name="project" content="com" th:remove="all"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <title th:text="#{site.detail.title}">site</title>
</head>
<body>
<div class="container row">
  <div class="col-md-2">
    <nav th:replace="editor/component/navigation/main :: sidebar">
      <ul th:remove="all">
        <li><a href="#">side navigation</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-10">
    <h1 th:text="#{site.detail.h1}">site detail</h1>
    <dl class="dl-horizontal">
      <dt>ID</dt>
      <dd th:text="${site.id}">id</dd>
      <dt>URL</dt>
      <dd th:text="${site.url}">url</dd>
      <dt th:text="#{site.detail.description.label}">Description</dt>
      <dd th:text="${site.description}">description</dd>
      <dt th:text="#{site.detail.create.label}">created at</dt>
      <dd th:text="${site.create}">create</dd>
      <dt th:text="#{site.detail.update.label}">updated at</dt>
      <dd th:text="${site.update}">update</dd>
    </dl>
    <div>
      <a href="siteEdit.html" class="btn btn-warning"
         th:href="@{/sites/__${site.id}__/edit}" th:text="#{site.detail.edit}">edit</a>
      <a href="siteIndex.html" class="btn btn-default"
         th:href="@{/sites}" th:text="#{site.detail.list}">list</a>
    </div>
    <section id="pages">
      <h2 th:text="#{site.detail.pages.h2}">page list</h2>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>PATH</th>
          <th th:text="#{site.detail.pages.description}">description</th>
          <th th:text="#{site.detail.pages.create}">created at</th>
          <th th:text="#{site.detail.pages.update}">updated at</th>
          <th>Opt.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page : ${pages.content}">
          <td>
            <a class="btn btn-link" href="../page/pageEdit.html"
               th:href="@{/pages/__${site.id}__/__${page.id}__}" th:text="${page.id}">id</a>
          </td>
          <td>
            <a href="../page/pageEdit.html"
               th:href="@{/pages/__${site.id}__/__${page.id}__}" th:text="${page.path}">path</a>
          </td>
          <td th:text="${site.description}">description</td>
          <td th:text="${site.create}">create</td>
          <td th:text="${site.update}">update</td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <div th:unless="0 == ${pages.totalPages}">
        <ul class="pagination" th:start="${T(java.lang.Math).max(1, pages.page -1)}">
          <li th:each="p : ${#numbers.sequence(__${T(java.lang.Math).max(1, pages.page -1)}__, __${T(java.lang.Math).min(pages.totalPages, pages.page+3)}__)}">
            <span th:if="${p == 1 +pages.page}" th:text="${p}">current page</span>
            <a href="siteDetail.html" th:unless="${p == 1 +pages.page}"
               th:href="@{/sites/__${site.id}__(page=__${p}__)}" th:text="${p}">#1</a>
          </li>
        </ul>
      </div>
      <div>
        <a href="../page/pageCreate.html" class="btn btn-default"
           th:href="@{/pages/__${site.id}__/create}" th:text="#{site.detail.pages.create.link}">create page</a>
      </div>
    </section>
  </div>
</div>
</body>
</html>
