<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2017. 4. 4." th:remove="all"/>
  <meta name="project" content="com" th:remove="all"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <title th:text="#{site.index.title}">sites</title>
</head>
<body>
<div class="container row">
  <div class="col-md-2">
    <nav th:replace="editor/component/navigation/main :: sidebar">
      <ul th:remove="all">
        <li><a href="#">side navigation</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-10">
    <h1 th:text="#{site.index.h1}">site list</h1>
    <table id="site-list" class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th th:text="#{site.index.sitelist.create}">create</th>
        <th th:text="#{site.index.sitelist.update}">update</th>
        <th>Opt.</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="site : ${siteList}">
        <td>
          <a class="btn btn-link" href="siteDetail.html" th:href="@{/sites/__${site.id}__}" th:text="${site.id}">id</a>
        </td>
        <td>
          <a href="siteDetail.html" th:href="@{/sites/__${site.id}__}" th:text="${site.url}">url</a>
        </td>
        <td th:text="${site.create}">create</td>
        <td th:text="${site.update}">update</td>
        <td><a href="siteEdit.html" class="btn btn-link"
               th:href="@{/sites/__${site.id}__/edit}" th:text="#{site.index.sitelist.link.edit}">edit</a></td>
      </tr>
      </tbody>
    </table>
    <div>
      <a href="siteCreate.html" class="btn btn-default"
         th:href="@{/sites/create}" th:text="#{site.index.link.create}">create</a>
    </div>
  </div>
</div>
</body>
</html>
