<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2017. 4. 24." th:remove="all"/>
  <meta name="project" content="com" th:remove="all"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>View</title>
</head>
<body>
<div class="fraction fraction-view" th:fragment="display(fraction)">
  <p th:text="${fraction.description}">fraction description.</p>
</div>
</body>
</html>
